<div class="container container-header" id="home-section" style="background: black;">

    <div class="content-header">
        <div class="header" id="header" [style.height.px]="viewportHeight">
            <div class="content-profil">
                <ul style="display: flex;
                flex-direction: row;">
                    <div class="line"></div>
                    <div class="greeting">
                        Hi, I'm
                    </div>
                </ul>

                <div class="name">
                    <a> INTISSAR</a>
                </div>
                <div class="job">
                    a Full Stack Developer
                </div>
                <div class="btn">
                    <div class="btn-1" (click)="scrollToKnowMore()">
                        KNOW MORE
                    </div>
                    <div class="btn-2" (click)="downloadBtn()">
                        Download CV
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>