<div class="container-footer w-container">
  <div class="w-row footer-content">
    <div class="footer-column w-clearfix w-col w-col-4 title-footer">
      <h3 class="footer-failory-name">BOUSSAID intissar</h3>
      <p class="footer-description-failory">software developer.<br></p>
    </div>
    <div class="footer-column w-col w-col-8">
      <div class="w-row follow-me-email">
        <div class="w-col w-col-8">
          <div class="w-row">
            <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7 cursor">

              <h3 class="footer-titles follow-me">Follow Me!</h3>
               <a href="https://github.com/intissarboussaid" class="instagram">
                <i class="fa-brands fa-github"></i></a>
              <!-- <a href="https://www.facebook.com/inti.ssar.7545" class="fb"><i class="fa-brands fa-facebook"></i></a> -->
              <a href="https://www.linkedin.com/in/intissar-boussaid-a87870228/" class="linkedin"><i
                  class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
              <h3 class="footer-titles">techno.</h3>
              <p class="footer-links"><a href=""><span class="footer-link">html<br></span></a><a href=""><span
                    class="footer-link">css<br></span></a><a href=""><span class="footer-link"></span></a><a
                  href=""><span class="footer-link">javascript<br></span></a><a href=""><span
                    class="footer-link">angular</span></a><strong><br></strong></p>
            </div>
          </div>
        </div>
        <div class="column-center-mobile w-col w-col-4 email-footer">
          <h3 class="footer-titles  footer-description">Whatsapp:</h3> <br />
          <p class="link-email-footer"><a>+216 95 522 109</a></p><br>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    ©2024|Designed by BOUSSAID intissar
  </div>
</div>