<div class="container container-about-me" id="about-me" style="background: #1d1e1d; ">
    <div class="content-about-me">
        <div class="header" style="margin-top: 5%;">
            <div class="line"></div>
            <h1>about me</h1>
        </div>
        <div class="photo"style="margin-top: 5%;">
            <!-- <img src="" alt="profile"> -->
            <div class="image"  id="profile-picture" ></div>
        </div>
        <div class="description" style="margin-top: -5%;">
           

                <p>

                    I earned my degree in Computer Science, 
                    specializing in software engineering and information systems, 
                    from ESSTHS. My research focuses on developing web applications with SaaS solutions.
                     If you are interested in collaborating, 
                     I'm always eager to work on exciting projects and create innovative solutions that push the boundaries of what's possible.
                  </p>
          
        </div>
    </div>
    <div class="space"></div>


</div>

<!-- Dear Hiring Manager,

I am excited to apply for the Full Stack Developer position at your company. With my professional experience in React JS and Spring Boot at 3DWAVE for four months and my Final Year Project (FYP) of four months at seedbytes with Angular and Spring Boot, I am confident in my ability to contribute to your team. My curiosity in this field, combined with my constant pursuit of knowledge, makes me an ideal candidate for this role.

During my professional experience, I had the opportunity to work on various projects that required me to integrate diverse technologies, handle both front-end and back-end tasks, and solve complex problems. I am passionate about full stack development and always look for ways to improve skills.

In my FYP, I developed a web application using Angular and Spring Boot, which allowed me to gain hands-on experience in both front-end and back-end development. I am familiar with web technologies such as HTML5, CSS3, Bootstrap 3/4, JavaScript , jQuery, Angular , TypeScript, JSON, and ReactJs . I have also worked with Java technologies such as Java 8, Core Java/J2EE , Spring (Framework, Security, Hibernate 4, JPA, MVC, AOP), Spring Boot, Restful Web Services (REST).

My problem-solving skills, design architecture experience, and ability to learn and adapt to new technologies make me a valuable asset to any team. I am confident that my skills and passion for full stack development will enable me to make a significant contribution to your team.

Thank you for considering my application. I am eager to bring my unique blend of skills to your team and am looking forward to the possibility of discussing my application further.

Sincerely, BOUSSAID intissar -->