<div class="container container-service" id="service-section">
  <div class="services-section" style="margin-top: 3%;">
    <div class="header">
      <div class="line"></div>
      <h1>Services</h1>
    </div>
    <div class="container-fluid content-services">
      <div class="front-end">
        <div class="title">
          <i class="fa-solid fa-code"></i>

          <h4>front-end development</h4>
        </div>
        <div class="description">

          <p> Design web site using html, css, javascript, angular , react js</p>
        </div>
      </div>
      <div class="back-end">
        <div class="title">
          <i class="fa-solid fa-wand-magic-sparkles"></i>

          <h4>back-end development</h4>
        </div>
        <div class="description">
          <p>Building websites with a focus on optimizing performance and functionality. This includes setting up APIs,
            managing databases, optimizing servers, and ensuring the security of the back-end.</p>
        </div>
      </div>
      <div class="devops">
        <div class="title">
          <i class="fa-solid fa-server"></i>
          <h4>deployment</h4>
        </div>
        <div class="description">
          <p> I deploy websites to ensure accessibility, security, and performance, with a strong focus on efficiency to
            ensure the web application runs smoothly.</p>
        </div>

      </div>
    </div>
  </div>
</div>