<div class=" container-skills " id="skills-section">
  <div class="content-carousel">
    <div class="header">
      <div class="line"></div>
      <h1>skills</h1>
    </div>


    <div class="wrapper  ">
      <div class="section-skills">
        <i id="left" class="fa-solid fa-chevron-left"></i>
        <ul class="carousel">
          <li class="card">
            <div class="img">
              <div class="skills-img" id="reactjs"></div>
              <!-- <img src="../../assets/img/react.png" alt="react js" draggable="false"> -->
            </div>
          </li>
          <li class="card">
            <div class="img">
              <div class="skills-img" id="angular"></div>
              <!-- <img src="../../assets/img/angular.png" alt="angular" draggable="false"> -->
            </div>
          </li>
          <li class="card">
            <div class="img">
              <div class="skills-img" id="java"></div>
              <!-- <img src="../../assets/img/java.png" alt="java" draggable="false"> -->
            </div>
          </li>
          <li class="card">
            <div class="img">
              <div class="skills-img" id="spring-boot"></div>
              <!-- <img src="../../assets/img/spring-boot.png" alt="spring boot" draggable="false"> -->
            </div>
          </li>
          <li class="card">
            <div class="img">
              <div class="skills-img" id="postgresql"></div>
              <!-- <img src="../../assets/img/postgresql.png" alt="postgresql" draggable="false"> -->
            </div>
          </li>
          <li class="card">
            <div class="img">
              <div class="skills-img" id="javascript"></div>
              <!-- <img src="../../assets/img/js.png" alt="javascript" draggable="false"> -->
            </div>
          </li>
          <li class="card">
            <div class="img">
              <div class="skills-img" id="typescript"></div>
              <!-- <img src="../../assets/img/typscript.png" alt="typescript" draggable="false"> -->
            </div>
          </li>
          <li class="card">
            <div class="img">
              <div class="skills-img" id="html"></div>
              <!-- <img src="../../assets/img/html.png" alt="html" draggable="false"> -->
            </div>

          </li>
          <li class="card">
            <div class="img">
              <div class="skills-img" id="css"></div>
              <!-- <img src="../../assets/img/css.png" alt="css" draggable="false"> -->
            </div>
          </li>

        </ul>
        <i id="right" class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>
</div>